[Desktop Entry]
Type=Application
Terminal=false
Encoding=UTF-8
Version=1.1
Name=aws
Exec=google-chrome https://console.aws.amazon.com/
Icon=/home/joaquin/icons/aws.jpeg
