[Desktop Entry]
Type=Application
Terminal=false
Encoding=UTF-8
Version=1.1
Name=marcadores
Exec=google-chrome chrome://bookmarks
Icon=/home/joaquin/icons/bookmarks.png
