[Desktop Entry]
Type=Application
Terminal=false
Encoding=UTF-8
Version=1.1
Name=clickup
Exec=google-chrome https://app.clickup.com/login
Icon=/home/joaquin/icons/clickup.png
