[Desktop Entry]
Type=Application
Terminal=false
Encoding=UTF-8
Version=1.1
Name=gcp
Exec=google-chrome https://console.cloud.google.com/
Icon=/home/joaquin/icons/gcp.png
