[Desktop Entry]
Type=Application
Terminal=false
Encoding=UTF-8
Version=1.1
Name=netdev
Exec=google-chrome https://portal.netdevgroup.com/account/login/
Icon=/home/joaquin/icons/netdev.png
