[Desktop Entry]
Type=Application
Terminal=false
Encoding=UTF-8
Version=1.1
Name=oracle university
Exec=google-chrome https://mylearn.oracle.com/
Icon=/home/joaquin/icons/oracle.png
