[Desktop Entry]
Type=Application
Terminal=false
Encoding=UTF-8
Version=1.1
Name=outlook
Exec=google-chrome https://live.com
Icon=/home/joaquin/icons/outlook.svg
