[Desktop Entry]
Type=Application
Terminal=false
Encoding=UTF-8
Version=1.1
Name=p5
Exec=google-chrome https://editor.p5js.org/
Icon=/home/joaquin/icons/p5.png
