[Desktop Entry]
Type=Application
Terminal=false
Encoding=UTF-8
Version=1.1
Name=us
Exec=google-chrome https://ev.us.es/auth-saml/saml/login
Icon=/home/joaquin/icons/us.png
