[Desktop Entry]
Type=Application
Terminal=false
Encoding=UTF-8
Version=1.1
Name=xtremelabs
Exec=google-chrome https://labs.xtremelabs.io/
Icon=/home/joaquin/icons/xtremelabs.png
